* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 2;
}

.cat-info {
  display: flex;
}

img {
  display: block;
  max-width: 30vw;
  max-height: 30vw;
  margin-top: 10vh;
}

.description {
  display: flex;
  width: 40vw;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: 20vh;
}
